.ui.vertical.menu {
  width: 70% !important;
}
.filter {
  background: white;
  padding: 10px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .filter {
    width: 100%;
    z-index: 5;
    padding: 0px;
  }
}
