.wrapPayments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
}
.payments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.itemPayment {
  padding: 20px 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}
.pStyle {
  font-size: 1rem;
  margin: 0px;
}
.pStyle:nth-child(1) {
  font-size: 1.5rem;
  color: #cf0a2c;
}
.pStyle:nth-child(3) {
  color: #cf0a2c;
}
.sizeImg {
  max-width: 50%;
  max-height: 50%;
}
.textCenter {
  text-align: center !important;
}
