.listStyle {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: space-between;
  margin: 0px;
}
.wrapCategoryNav {
  width: 70%;
}
.itemCategoryNav {
  color: white;
  padding: 5px 10px;
  transition: 0.2s;
  border-radius: 3px;
  cursor: pointer;
}
.itemCategoryNav:hover {
  background: #ca324c;
}
.dropdown {
  display: none;
  padding: 15px;
  list-style: none;
  position: absolute;
  background: white;
  margin: 0px;
  z-index: 1000;
  margin-top: 5px;
  color: black;
  cursor: default;
}
.dropdownItem {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.itemCategoryNav:hover > .dropdown {
  display: block;
}
